{% load static %}

<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <h3 class="footer-heading">Quick Links</h3>
      <ul class="footer-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/favourite">My Favourites</a></li>
            <li><a href="/my-offers">My Offers</a></li>
            <li><a href="/my-visits">My Visits</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3 class="footer-heading">Contact Us</h3>
      <address>
        <p>Menntavegur 1</p>
        <p>Reykjavík, 101</p>
        <p>Email: info@castleapartments.com</p>
        <p>Phone: +354 581-2345</p>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Castle Apartments. All rights reserved.</p>
  </div>
</footer>