<header class="header" role="banner">
  <nav class="main-nav" role="navigation" aria-label="Main navigation">
    <div class="nav-container">
      <div class="nav-items-container">
          <a href="/" class="logo" aria-label="Castle Apartments Home">
            <h1>Castle Apartments</h1>
          </a>
          <ul class="nav-links">
            <li><a href="/" aria-current="page">Home</a></li>
             <li><a href="/my-offers">My Favorites</a></li>
            <li><a href="/my-offers">My Offers</a></li>
            <li><a href="/my-visits">My Visits</a></li>
          </ul>
      </div>
      <div class="profile-section" aria-label="User profile">
          {% if user.is_authenticated %}
          <a href="/user/register">
            Logout
          </a>
          {% else %}
          <a href="/user/register">
            Sign Up
          </a>
          {% endif %}
      </div>
    </div>
  </nav>
</header>
