{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="error-container">
    <section class="error-card">
        <h1 class="error-title">Oops!</h1>
        <p class="error-message">{{ message }}</p>
        <img src="{% static 'images/error.jpg' %}" alt="Error illustration" class="error-image" />
        <div class="error-actions">
            <a href="{% url 'apartment-index' %}" class="button">
              <i class="fa fa-home" aria-hidden="true"></i> Return Home
            </a>
            <a href="{% url 'profile' %}" class="button">
              <i class="fa fa-user" aria-hidden="true"></i> My profile
            </a>
            <a href="#" class="button" onclick="history.back()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back
            </a>
        </div>
    </section>
</div>
{% endblock %}