{% extends 'base.html' %}

{% block content %}
<h1 class="mb">Register now!</h1>

{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'register' %}">
  {% csrf_token %} {% if form.errors %}
  <div class="alert alert-error">
    {% for field in form %} {% for error in field.errors %}
    <p>{{ field.label }}: {{ error }}</p>
    {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %} {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }} {{ field }} {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endfor %}

  <button type="submit" class="button">Register</button>
</form>
{% endblock %}
